.search-box {
  background-color: #eeeeee;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 90%;
  right: 0;
  z-index: 3;
  width: 50%;
  height: 40px;
  border: 2px solid #830303;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.form-control::-webkit-input-placeholder {
  color: #616161;
}

.form-control:-moz-placeholder {
  color: #616161;
}

.form-control::-moz-placeholder {
  color: #616161;
}

.form-control:-ms-input-placeholder {
  color: #616161;
}

.form-control::-ms-input-placeholder {
  color: #616161;
}

.search-box>input, .input-group {
  width: 40%;
  height: 40px;
}

#search-box {
  color: #616161;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
