html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

#dot-logo {
  position: absolute;
  z-index: 3;
  top: 85%;
  left: 1%;
  height: 10%;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

#dot-logo:hover {
  opacity: 1;
  cursor: pointer;
}
